<form action="/update_message" method="post">
    <input type="hidden" name="authenticity_token" value= "<%= form_authenticity_token %>">
    <input type="hidden" name="review[user_id]" value="<%= @user['id'] %>">
    <p>Update Message:</p>
    <input type="text" name="review[content]" value="<%=  @message['content'] %>">

    <input type="submit" value="Update">
</form>
